{"swagger":"2.0","info":{"description":"Microservice management service","version":""},"host":"p7.tmrtn.de","schemes":["https"],"consumes":["application/json","application/xml","application/gob","application/x-gob"],"produces":["application/json","application/xml","application/gob","application/x-gob"],"paths":{"/":{"get":{"summary":"Download public/html/index.html","operationId":"public#/","responses":{"200":{"description":"File downloaded","schema":{"type":"file"}}},"schemes":["https"]}},"/css/{filepath}":{"get":{"summary":"Download public/css","operationId":"css#/css/*filepath","parameters":[{"name":"filepath","in":"path","description":"Relative file path","required":true,"type":"string"}],"responses":{"200":{"description":"File downloaded","schema":{"type":"file"}},"404":{"description":"File not found","schema":{"$ref":"#/definitions/error"}}},"schemes":["https"]}},"/img/{filepath}":{"get":{"summary":"Download public/img","operationId":"img#/img/*filepath","parameters":[{"name":"filepath","in":"path","description":"Relative file path","required":true,"type":"string"}],"responses":{"200":{"description":"File downloaded","schema":{"type":"file"}},"404":{"description":"File not found","schema":{"$ref":"#/definitions/error"}}},"schemes":["https"]}},"/js/{filepath}":{"get":{"summary":"Download public/js","operationId":"js#/js/*filepath","parameters":[{"name":"filepath","in":"path","description":"Relative file path","required":true,"type":"string"}],"responses":{"200":{"description":"File downloaded","schema":{"type":"file"}},"404":{"description":"File not found","schema":{"$ref":"#/definitions/error"}}},"schemes":["https"]}},"/p7/health/check":{"get":{"tags":["health"],"summary":"check health","description":"Perform health check.","operationId":"health#check","responses":{"200":{"description":"OK"}},"schemes":["https"]}},"/p7/lambdas":{"get":{"tags":["lambda"],"summary":"list lambda","description":"List all avilable lambdas","operationId":"lambda#list","responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/LambdaCollection"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/error"}},"404":{"description":"Not Found"}},"schemes":["https"]},"post":{"tags":["lambda"],"summary":"create lambda","description":"Creates a lambda","operationId":"lambda#create","parameters":[{"name":"payload","in":"body","description":"LambdaPayload is the type used to create a lambda","required":true,"schema":{"$ref":"#/definitions/LambdaPayload"}}],"responses":{"201":{"description":"Resource created","headers":{"Location":{"description":"href to created resource","type":"string","pattern":"^/lambdas/[0-9]+$"}}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/error"}},"404":{"description":"Not Found"}},"schemes":["https"]}},"/p7/lambdas/{lambda_id}":{"get":{"tags":["lambda"],"summary":"show lambda","description":"Retrieve lambda with given id","operationId":"lambda#show","parameters":[{"name":"lambda_id","in":"path","description":"Lambda ID","required":true,"type":"integer"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Lambda"}},"404":{"description":"Not Found"}},"schemes":["https"]},"delete":{"tags":["lambda"],"summary":"delete lambda","operationId":"lambda#delete","parameters":[{"name":"lambda_id","in":"path","required":true,"type":"integer"}],"responses":{"204":{"description":"No Content"},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/error"}},"404":{"description":"Not Found"}},"schemes":["https"]},"patch":{"tags":["lambda"],"summary":"update lambda","operationId":"lambda#update","parameters":[{"name":"lambda_id","in":"path","required":true,"type":"integer"},{"name":"payload","in":"body","description":"LambdaPayload is the type used to create a lambda","required":true,"schema":{"$ref":"#/definitions/LambdaPayload"}}],"responses":{"204":{"description":"No Content"},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/error"}},"404":{"description":"Not Found"}},"schemes":["https"]}},"/p7/lambdas/{lambda_id}/actions/code":{"get":{"tags":["lambda"],"summary":"code lambda","description":"Retrieve lambda code with given id","operationId":"lambda#code","parameters":[{"name":"lambda_id","in":"path","description":"Lambda ID","required":true,"type":"integer"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Lambda"}},"404":{"description":"Not Found"}},"schemes":["https"]}},"/p7/lambdas/{lambda_id}/watch":{"get":{"tags":["lambda"],"summary":"watch lambda","description":"Retrieve lambda with given id","operationId":"lambda#watch","parameters":[{"name":"lambda_id","in":"path","required":true,"type":"integer"}],"responses":{"101":{"description":"Switching Protocols"},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/error"}}},"schemes":["ws"]}},"/swagger-ui/{filepath}":{"get":{"summary":"Download public/swagger-ui/","operationId":"swagger#/swagger-ui/*filepath","parameters":[{"name":"filepath","in":"path","description":"Relative file path","required":true,"type":"string"}],"responses":{"200":{"description":"File downloaded","schema":{"type":"file"}},"404":{"description":"File not found","schema":{"$ref":"#/definitions/error"}}},"schemes":["https"]}},"/swagger.json":{"get":{"summary":"Download public/swagger/swagger.json","operationId":"swagger#/swagger.json","responses":{"200":{"description":"File downloaded","schema":{"type":"file"}}},"schemes":["https"]}}},"definitions":{"Lambda":{"title":"Mediatype identifier: application/vnd.lambda+json; view=default","type":"object","properties":{"href":{"type":"string","description":"API href for making requests on the lambda","example":"/lambdas/1"},"id":{"type":"integer","description":"Unique lambda ID","example":1,"format":"int64"},"name":{"type":"string","description":"Name of lambda","example":"b6wz","minLength":2}},"description":"A microservice function named lambda (default view)","example":{"href":"/lambdas/1","id":1,"name":"b6wz"},"required":["id","href","name"]},"LambdaCollection":{"title":"Mediatype identifier: application/vnd.lambda+json; type=collection; view=default","type":"array","items":{"$ref":"#/definitions/Lambda"},"description":"LambdaCollection is the media type for an array of Lambda (default view)","example":[{"href":"/lambdas/1","id":1,"name":"b6wz"}]},"LambdaPayload":{"title":"LambdaPayload","type":"object","properties":{"code":{"type":"string","description":"Code that should be executed","example":"f5bzyr60yi","minLength":16,"maxLength":500},"name":{"type":"string","description":"Name of lambda","example":"rs5k","minLength":2}},"description":"LambdaPayload is the type used to create a lambda","example":{"code":"f5bzyr60yi","name":"rs5k"},"required":["name","code"]},"error":{"title":"Mediatype identifier: application/vnd.goa.error; view=default","type":"object","properties":{"code":{"type":"string","description":"an application-specific error code, expressed as a string value.","example":"invalid_value"},"detail":{"type":"string","description":"a human-readable explanation specific to this occurrence of the problem.","example":"Value of ID must be an integer"},"id":{"type":"string","description":"a unique identifier for this particular occurrence of the problem.","example":"3F1FKVRR"},"meta":{"type":"object","description":"a meta object containing non-standard meta-information about the error.","example":{"timestamp":1458609066},"additionalProperties":true},"status":{"type":"string","description":"the HTTP status code applicable to this problem, expressed as a string value.","example":"400"}},"description":"Error response media type (default view)","example":{"code":"invalid_value","detail":"Value of ID must be an integer","id":"3F1FKVRR","meta":{"timestamp":1458609066},"status":"400"}}},"responses":{"NoContent":{"description":"No Content"},"NotFound":{"description":"Not Found"},"OK":{"description":"OK","schema":{"$ref":"#/definitions/Lambda"}},"SwitchingProtocols":{"description":"Switching Protocols"}}}